SNOWFLAKE_ACCOUNT=<account>.aws
SNOWFLAKE_USER=<user>
SNOWFLAKE_PASSWORD=<password>
SNOWFLAKE_ROLE=DEVELOPER
SNOWFLAKE_WAREHOUSE=AEROLINE_WH
SNOWFLAKE_DATABASE=AEROLINE_DB
SNOWFLAKE_SCHEMA=PUBLIC

API_KEY=dev-key-123
OPENSKY_BASE=https://opensky-network.org/api/states/all
# optional: OPENSKY_AUTH_USER=... OPENSKY_AUTH_PASS=...
